# Site settings
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "air"
title: Hugo Sant'Anna
author: Hugo Sant'Anna
email: hsantanna@uab.edu
description: >-
  Assistant Professor of Economics at the University of Alabama at Birmingham
baseurl: ""
url: "https://hsantanna88.github.io"
twitter_username: hsantanna
github_username: hsantanna88
markdown: kramdown
google_analytics: G-20PK9V3SD0

# Analytics
analytics:
  provider: "custom"

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      comments: true
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: single
      author_profile: true
      classes: wide

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
